VITE_SUPABASE_PROJECT_ID=PROJECT_ID
VITE_SUPABASE_PUBLISHABLE_KEY=your_SUPABASE_PUBLISHABLE_KEY
VITE_SUPABASE_URL=database url
VITE_EMAILJS_SERVICE_ID=service_id
VITE_EMAILJS_TEMPLATE_ID=email template
VITE_EMAILJS_PUBLIC_KEY=PUBLIC_KEY
